.navbar-custom {
  background-color: #5e252f;
  border-color: #461c23;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#833341), to(#5e252f));
  background-image: -webkit-linear-gradient(top, #833341, 0%, #5e252f, 100%);
  background-image: -moz-linear-gradient(top, #833341 0%, #5e252f 100%);
  background-image: linear-gradient(to bottom, #833341 0%, #5e252f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff833341', endColorstr='#ff5e252f', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #461c23;
}
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
  border-left: 1px solid #461c23;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #dedfe1;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #dedfe1;
  background-color: #461c23;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#461c23), to(#6b2a35));
  background-image: -webkit-linear-gradient(top, #461c23, 0%, #6b2a35, 100%);
  background-image: -moz-linear-gradient(top, #461c23 0%, #6b2a35 100%);
  background-image: linear-gradient(to bottom, #461c23 0%, #6b2a35 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff461c23', endColorstr='#ff6b2a35', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #441b22;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #dedfe1;
  border-bottom-color: #dedfe1;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #461c23;
  color: #dedfe1;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #dedfe1;
  border-bottom-color: #dedfe1;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #dedfe1;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #dedfe1;
    background-color: #461c23;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #ffffff;
}
.navbar-custom .navbar-link:hover {
  color: #dedfe1;
}

.inputChoose{
  margin: 15px;
  width: 45px;
  height: 30px;
  padding-left: 20px; 
}

.chooseDisease {
    margin: auto;
    width: 500px;
    border: 3px solid black;
    padding: 10px;
}

.chooseIcd9Codes {
    margin: auto;
    width: 1000px;
    border: 3px solid black;
    padding: 10px;
}

ul li{
  display: inline;
}